/* IMPORT FONTS */
@font-face {
    font-family: 'circ-bl';
    src: url('../fonts/circularstd-black.eot');
    src: url('../fonts/circularstd-black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstd-black.woff2') format('woff2'),
        url('../fonts/circularstd-black.woff') format('woff'),
        url('../fonts/circularstd-black.ttf') format('truetype'),
        url('../fonts/circularstd-black.svg#circularstd-black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'circ-bk';
    src: url('../fonts/circularstd-book.eot');
    src: url('../fonts/circularstd-book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstd-book.woff2') format('woff2'),
        url('../fonts/circularstd-book.woff') format('woff'),
        url('../fonts/circularstd-book.ttf') format('truetype'),
        url('../fonts/circularstd-book.svg#circularstd-book') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'circ-b';
    src: url('../fonts/circularstd-bold.eot');
    src: url('../fonts/circularstd-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/circularstd-bold.woff2') format('woff2'),
        url('../fonts/circularstd-bold.woff') format('woff'),
        url('../fonts/circularstd-bold.ttf') format('truetype'),
        url('../fonts/circularstd-bold.svg#circularstd-bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'd-din-r';
    src: url('../fonts/d-din.eot');
    src: url('../fonts/d-din.eot?#iefix') format('embedded-opentype'),
        url('../fonts/d-din.woff2') format('woff2'),
        url('../fonts/d-din.woff') format('woff'),
        url('../fonts/d-din.ttf') format('truetype'),
        url('../fonts/d-din.svg#d-din') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* RESET */
body, ul, li, ol, form, h1, h2, h3, h4, h5, h6, div, span, p { padding:0; margin:0; border:0; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; text-size-adjust:none;}
article, aside, dialog ,figcaption, figure, footer, header, hgroup, main, nav, section { display:block;}  
input, textarea												{ -webkit-appearance:none; -ms-appearance:none; appearance:none; -moz-appearance:none; -o-appearance:none; border-radius:0;}
*															{ outline:none !important;}
strong, b													{ font-weight:normal; font-family:circ-b;}
ul															{ list-style-type:none;}
body                                                        { font:normal 16px/24px circ-bk, Arial; color:#ffffff;background: #151515}
body *                                                      { box-sizing:border-box; outline:0 }
a															{ text-decoration:none; color:#41c2cd; outline:none;}
img															{ border:none;}
p                                                           { margin-bottom: 10px }


/* CLASS */
.clear							          					{ clear:both; float:none !important; width:100% !important; padding:0 !important; margin:0 !important; display:block;}
.clr:after,.row:after                                       { content:''; display:table; width:100%; clear:both}
.container                                                  { max-width: 800px;margin: auto;}
.col{ width:50%;float: left;position: relative; }
.btn{ font:normal 16px/24px circ-b;background: #41c2cd;display: inline-block;padding: 10px 55px 10px 30px;border-radius: 22px;color: #ffffff;position: relative;text-align: center; }
.btn:after{ content: '';width: 12px;height: 11px;background: url(../images/arrow-btn.png)center no-repeat;position: absolute;right: 30px;top: 50%;margin-top: -5px }
.btn.off::after{ background: url(../images/arrow-btn-3.png)center no-repeat }
.btn2{ background: #5c5c5c;color: #151515;font:normal 12px/24px circ-b;padding: 5px 19px  }
.btn2:after{ display: none }
.btn3{ background: #212121;color: #9d9d9d ;padding: 10px 90px 10px 61px;font:normal 16px/24px circ-b;display: inline-block;border-radius: 22px;position: relative;text-align: center}
.btn3:after{  content: '';width: 17px;height: 12px;background: url(../images/icon-selected.png)center no-repeat;right: 63px;margin-top: -6px;position: absolute;top: 50%;}
.slick-prev {position: absolute;top: 50%;margin-top: -23px;left: -50px;width: 37px;height: 37px;background: url(../images/arrow-left-slide.png) 50% 50% no-repeat;z-index: 50;cursor: pointer;text-indent: -9999px;outline: none;border: 0;padding: 0;border:2px solid #6e6d6d;border-radius: 50%}
.slick-next {position: absolute;top: 50%;margin-top: -23px;right: -50px;width: 37px;height: 37px;background: url(../images/arrow-right-slide.png) 50% 50% no-repeat;z-index: 50;cursor: pointer;text-indent: -9999px;outline: none;border: 0;padding: 0;border:2px solid #6e6d6d;border-radius: 50%}
.slick-dots{ text-align: center;margin-top: 25px }
.slick-dots li{ display: inline-block;margin:0 5px;text-align: center; }
.slick-dots button {width: 15px;height: 15px;text-indent: -9999px;background:none;display: block;border:2px solid #41c2cd;padding: 0;cursor: pointer;}
.slick-dots li.slick-active button{ background-color: #41c2cd }
.logo-print{ display: none }
.logo{ position: relative; }

/* ECRAN-1 */
h1{ font:normal 48px/48px circ-bl;letter-spacing: 0.6px;text-align: center; }
h1 span{ font:normal 24px/37px circ-bk;display: block; }
.blcLogo{text-align: center;padding: 38px 0 65px}
.blcLogo a{ display: inline-block; }
.blcLogo img{ width:60px; }




/* ECRAN-2 */
.contenu{ position: relative; }
.piscine h1{ max-width: 422px }
.piscine .left{ width: 120px;height: 120px;}
.content-modele{ margin-top: 88px;display: flex;flex-wrap: wrap; }
.piscine .content-col{ margin-bottom: 6px;min-height: 132px }
.piscine .content-col .left img{ width: 100%;border-radius: 50% ;height: 120px;object-fit: cover; }
.piscine .container-2 .col{ width: 33.33%;padding: 25px 20px;margin-bottom: 22px;cursor: pointer;border:2px solid #151515; }
.piscine .content-col>div{ float: left; }
.title-modele{ font:normal 14px/14px circ-bk;display: block; }
.num-modele{ font:normal 40px/45px d-din-r;display: block;margin-bottom: 5px}
.num-modele b{ font:normal 48px/48px d-din-b}
.container-2{ max-width: 1160px;margin:auto;padding: 0 60px 0 0}
.piscine .content-col .right{ padding: 0 0 0 26px}
.tooltips{ position: absolute;right: 0;top: 0;width: 15px;height: 15px }
.btn-tooltips{ width: 15px;height: 15px;background: #41c2cd;border-radius: 50%;font:normal 13px/15px circ-bk;color: #151515!important;display: flex;justify-content: center;align-items: center;cursor: pointer; }
.tooltip-text{ width: 200px;display: block;font:normal 12px/14px circ-bk;background: #41c2cd;padding: 5px;top: 0;position: absolute;right: 30px;opacity: 0; visibility: hidden;min-height: 20px}
.tooltip-text.active{ opacity: 1;visibility: visible; }
.tooltip-text:after{ content: '';width: 20px;height: 10px;background: url(../images/tool-tips.png)center no-repeat;position: absolute;top: 6px;right: -10px; }
.piscine .content-col .modele{ position: relative; }
.col.selected{ border:2px solid #41c2cd!important }
.col.selected .btn3{ background: #e77d16!important;color: #ffffff }
.col.selected .btn3:after{ background: url(../images/icon-selected-2.png)center no-repeat;}
.blcLeft .container,.blcLeft .container-2{ float: right;width: 100% }
.blcLeft .content{ padding-right: 470px;padding-bottom: 200px }
.blcTitre.container{ max-width: 1220px }
.piscine label span{ color: #ffffff }
input[type="radio"] {display: block;width: 1px;height: 1px;position: absolute;}

/* ECRAN-3 */
.pose .titre{ font:normal 14px/16px circ-b }
.pose .texte{ font:normal 11px/14px circ-bk  }
.pose .content-page .col{ width: 250px;height: 510px}
.pose .content-page .container{ max-width: 1200px }
.content-col{ margin: auto; }
.pose .blcLeft .content{ padding-right: 420px }
.pose .col{border:2px solid #151515;padding:10px }
.pose .col .blcImg{ padding: 26px 47px 23px;position: relative;  }
.pose .col.selected .blcImg{ background: #29b6ac;margin-bottom: 37px}
/*.pose .col.selected .blcImg:after{ content:'';width: 44px;height: 22px; background: url(../images/shape-2.png)top center no-repeat;position: absolute;bottom: -22px;left: 0;right: 0;margin: auto;}*/

.pose .col.selected .blcImg .caret { position: absolute; display: inline-block; width: 0; height: 0; margin-left: -20px; vertical-align: middle; border-top: 22px dashed; border-top: 34px solid\9; border-right: 20px solid transparent; border-left: 20px solid transparent; bottom: -22px; left: 50%; }

.pose .col .blcImg img{ display: block;opacity: 0.3; }
.pose .col.selected .blcImg img{ opacity: 1; }
.pose .col .texte{ padding: 0 0 0 47px;color: #706f6f }
.pose .col.selected .texte{ color: #29b6ac }
.pose .col .texte li{ padding-left: 14px; background: url(../images/puce.png)top left no-repeat;margin-bottom: 5px}
.texte .contentText{ max-height: 230px;overflow-y: scroll;-ms-overflow-style: none;  // IE 10+overflow: -moz-scrollbars-none;  scrollbar-width: none;
    -ms-overflow-style: none; }
.texte .contentText::-webkit-scrollbar { display: none;  // Safari and Chrome}
.pose .col.selected .texte li{ background: url(../images/puce-on.png)top left no-repeat }
.pose .texte .titre{ margin-bottom: 8px }
.pose .content-modele{ margin-top: 15px;display: flex;justify-content: flex-start; }
.pose .blcTitre.container{ max-width: 1140px }

.icon-select{ display: block;width: 27px;height: 27px; background: url(../images/icon-selected-2.png)center no-repeat #303030;border-radius: 50%;}
.pose .col .icon-select{ position: absolute;right: 10px;top: 10px  } 
.col.selected .icon-select{ background-color: #e47525 }

.recap .recap-step { padding: 20px 12px;background:#1b1b1b;min-height: 118px;margin-top: 20px }
.recap .recap-step li{ padding-left: 18px; background: url(../images/icon-selected-2.png)left 3px no-repeat;margin-bottom: 12px;background-size: 14px ;font:normal 12px/14px circ-bk}
.recap .recap-step li span{ text-transform: uppercase;color: #ffffff }
.pose aside .boutton{ margin-top: 16px }

.default{ color: #ffffff;background:#e47525 ;font: normal 12px/14px circ-bk;display: block;padding:2px 7px;width: 100px;position: absolute;top: 0;left: 0;z-index: 50; }
.default:before{ content: '';width: 9px;height: 9px;position: absolute;right: -9px;top: 0;background: url(../images/form-1.png)center no-repeat}
.default:after{ content: '';width: 9px;height: 9px;position: absolute;right: -9px;bottom: 0;background: url(../images/form-2.png)center no-repeat}

/* ECRAN-4 */
.couleur .content-couleur .col{ width: 16.66%; }
.couleur .content-couleur .col .blcImg{ width: 125px;height: 125px ;border-radius: 50%;margin: auto;}
.couleur .content-couleur .col .blcImg img{ width: 125px;height: 125px;border-radius: 50%;object-fit: cover;margin: auto; }
.couleur .blcCouleur{ text-align: center;margin-top: 18px;font:normal 14px/18px circ-b;opacity: 0.2;}
.couleur .content-couleur .col .blcImg{ padding: 0 }
.couleur.pose .content-page .col{ height: auto; }
.couleur.pose .col.selected .blcImg::after{ display: none }
.couleur.pose .col .blcImg{ position: relative;-webkit-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);box-shadow: 0px 0px 22px -5px rgba(0,0,0,0.75);overflow: hidden; }
.couleur.pose .col .blcImg .color{ width: 100%;height: 100%;position: absolute;left: 0;right: 0;height: 100%;border-radius: 50%; }
.couleur.pose .col.blanc .blcImg .color{ background-color: #ffffff }
.couleur.pose .col.gris-claire .blcImg .color{ background-color: #dedede }
.couleur.pose .col.gris-fonce .blcImg .color{ background-color: #b9b9b9 }
.couleur.pose .col.bleu .blcImg .color{ background-color: #8ad3fc }
.couleur.pose .col.noir .blcImg .color{ background-color: #151515 }
.couleur.pose .col .blcImg img{ opacity: 1; }
.couleur.pose .content-page .container{ max-width: 1140px }
.content-couleur{ margin:60px 0 142px; }
.couleur.pose .content-page .col{ padding: 20px 20px 12px }
.icon-selected{ width: 27px;height: 27px;  background: url(../images/icon-selected-2.png)center no-repeat  #2b2b2b ;background-size: 14px;border-radius: 50%;margin:7px auto 0;opacity: 0;}
.couleur .col.selected .icon-selected,
.couleur .col.selected .blcCouleur{ opacity: 1; }
.couleur .col.selected .icon-selected{ background-color: #e47525 }
.couleur.pose .col.selected .blcImg .color{ display: none}

/* ECRAN-5 */
.piscine.margelle .content-col > div{ width: 50% }
.piscine.margelle .content-page .col{ width: 33.33% }
.piscine.margelle .content-col .left img{ width: 120px;height: 120px;/*-webkit-box-shadow: -4px 21px 22px -11px rgba(82,82,82,1);-moz-box-shadow: -4px 21px 22px -11px rgba(82,82,82,1);box-shadow: -4px 21px 22px -11px rgba(82,82,82,1);*/margin: auto; }
.margelle .container-margelle{ max-width: 1220px }
.content-margelle{ margin: 95px 0 100px;display: flex;flex-wrap: wrap;}
.margelle .container-margelle .col{ padding: 25px 20px;border: 2px solid transparent;background: #151515;}
.piscine.margelle .vide .content-col>div{ width: 100%;text-align: center; text-transform: uppercase;}
.vide .icon-x{ padding-top: 37px }
.vide .icon-x img{ margin: auto; }
.piscine.margelle .content-page .col .blcBtn{ text-align: center; }

/* ECRAN-6 */
.eclairage h1{ max-width: 500px }
.eclairage .num-modele{ margin-bottom: 0;text-transform: uppercase; }
.eclairage .nombre-ecl{  font:normal 14px/14px circ-bk;color: #646464;display: block; }
.eclairage.piscine .content-col .right{ padding-left: 3px }

/* ECRAN-7 */
.local .blcImg{ margin-bottom: 17px;position: relative;padding: 0 10px }
.local .titre,.local .texte{ font:normal 14px/16px circ-b }
.local .texte{ color: #706f6f ;margin-top: 15px}
.local .content-page .col{ width: 20%;padding: 34px 15px;border: 2px solid transparent;height: 334px ;position: relative; cursor: pointer;}
.local .blcImg img{ margin: auto;display: block;width: 100%;max-width: 134px;height: 134px;object-fit: cover }
.local-2 .blcImg img{ width: auto;height: auto;max-width: inherit; }
.local .content-local{ margin: 15px 0 84px}
.local .container-local{ max-width: 1220px }
.local .blcText{ padding:0 0 0 15px;float: none }
.local .icon-select{ position: absolute;top: 14px;right: 3px }

/* ECRAN-8 */
.local.local-2 .content-page .col{ width: 27%;padding: 40px 15px ;height: auto;min-height: 238px;cursor: pointer;}
.local.local-2 .blcImg{ margin-bottom: 24px }

.numbers-row{ background-color: #6b6b6b;width:26%;padding: 4px 0;display: inline-block;vertical-align: middle; }
.inc.button,
.dec.button,.numbers-row input{ background: none;border: none;font:normal 14px/16px circ-b;color: #ffffff;display: inline-block;width: 33.33%;float: left;text-align: center; }
.textDistance{ display:inline-block;vertical-align: middle; }
.textDistance{ width: 72%;padding-left: 7px }



/* ECRAN-9 */
.skimmer.eclairage .num-modele{ text-transform: uppercase; }
.piscine.margelle #slideSkimmer .col{ width: 50% }
.piscine.margelle #slideSkimmer .left{ width: 135px }

/* ECRAN-10 */
.confirmation .content-confirmation .blcModele {border-bottom: 2px solid #b7b7b7;padding-bottom: 15px;}
.confirmation .content-confirmation .blcModele span{ color: #ffffff }
.confirmation .content-confirmation .plan-modele {padding-left: 25px;padding-top: 6px}
.confirmation .content-confirmation .plan-modele img{ width: 127px }
.confirmation .content-confirmation .num-modele, .confirmation .content-confirmation .num-modele b {font:normal 62px/58px d-din-r}
.confirmation .content-confirmation .recap .blcLeft{ width: 100%;float:none; }
.confirmation .content-confirmation .recap .recap-step{ width: 59%;float: left; }
.confirmation .content-confirmation .recap .blcLeft{ padding: 27px 50px 27px 0 }
.confirmation .title-modele {     font: normal 18px/22px circ-bk;}
.confirmation .col.col-left{ width: 100%;padding:20px;-webkit-box-shadow: 0px 0px 15px 9px rgba(15,15,15,1);
-moz-box-shadow: 0px 0px 15px 9px rgba(15,15,15,1);
box-shadow: 0px 0px 15px 9px rgba(15,15,15,1); }
.confirmation .col.col-right{max-width:300px; width: 35%;float: right; }
.confirmation .content-confirmation .total{ font: normal 18px/24px circ-bk;padding: 20px 0 2px; }
.confirmation .content-confirmation  .price{ font: normal 23px/24px circ-bl }

.content-confirmation{ margin: 66px 0 130px}
.confirmation .recap .recap-step{ padding: 20px;margin-top: 0; }
.confirmation .recap .recap-step li{ font: normal 14px/16px circ-bk;padding-left: 21px;position: relative;padding-right: 65px }
.confirmation .recap .price-step{ position: absolute;right: 0;top: 0;color: #41c2cd;font: 14px/16px circ-b }
.confirmation .boutton{ float: none;display: block; }
.confirmation .btn-submit{ padding: 23px 40px 22px 31px;display: block; }
.confirmation .boutton2 .btn-submit:after{ right:31px; }
.textConfirm,.contact{ font: normal 14px/16px circ-b;letter-spacing: -0.3px }
.textConfirm{ margin: 0 0 12px }
.contact,.contact a{ color: #706f6f }

.confirmation .blcDown{ margin-bottom: 15px;border-bottom: 1px solid #1e1e1e }
.confirmation .blcDown button{ color: #8a8a8a;font: normal 14px/33px circ-b;display: block;min-height: 33px;padding-left: 44px;position: relative;margin-bottom: 10px; background: none; border: none; cursor: pointer; }
.confirmation .blcDown button:after{ content: '';position: absolute;left: 0;top: 0;width: 30px;height: 30px;border:2px solid #8a8a8a;border-radius: 50% }
.confirmation .blcDown .print:after{ background: url(../images/icon-print-1.png)center no-repeat }
.confirmation .blcDown .pdf:after{ background: url(../images/icon-doc-1.png)center no-repeat }


/*ASIDE*/
.blcModele>div{ float: left; }
.sidebar{ position: absolute;right: 0;top: 0 }
aside.blcRight{ position: absolute;right: 0;top: 0;width: 400px;z-index: 100; }
.contentAside{ position: fixed;padding: 0 50px 22px}
h2{  font:normal 30px/38px circ-b;margin-bottom: 42px}
aside .recap{ padding: 20px 20px 0}
aside .plan-modele{ padding-left: 16px }
aside .num-modele,
aside .num-modele b{ line-height: 48px;font-size: 48px!important }
aside .blcModele { border-bottom: 2px solid #b7b7b7;padding-bottom: 15px }
.total{ font:normal 14px/18px circ-bk;text-transform: uppercase;color: #494949;padding: 16px 0 0 }
.price{ font:normal 18px/18px circ-bl;color: #41c2cd  }

aside .boutton{ margin-top: 23px;float: none }
.boutton2 .btn-submit:after{ background: url(../images/arrow-btn.png)center no-repeat  }

.blcFooter .container{ float: none;padding-top: 10px }

#response{ margin-top: 15px;line-height: 22px }
.error{ color: #ff0d0d;padding: 15px;background:#f9c7c7; }
.success{ color: #4ccd41;padding: 15px;background:#d8f9d5; }
.shadow{ -webkit-box-shadow: 0 0 27px rgba(0,0,0,0.58);
-moz-box-shadow: 0 0 27px rgba(0,0,0,0.58);
box-shadow: 0 0 27px rgba(0,0,0,0.58); }


@media (max-width:1600px) {
.blcLeft .content,.pose .blcLeft .content{ padding-right: 400px }
.pose .content-page .col{ width: 25% }


}
@media (max-width:1440px) {
.blcLeft .container,.blcLeft .container-2{ padding-right: 0 }
.piscine .content-col > div{ width: 50% }
.piscine .content-col .left img{ width: 120px;height: 120px }
.content-couleur{ margin: 60px 0 0 }
.local.local-2 .content-page .col{width: 33%}
.skimmer.piscine.margelle .content-col .left{ width: 40% }
.skimmer.piscine.margelle .content-col .right{ width: 60% }
.pagination li{ padding-right: 40px;margin-bottom: 35px }
.col.pagination{ width: 100%; text-align: center;}
.col.blcBtn{ width: 100%;float: none;text-align: center;padding-bottom: 40px!important }

}
@media (max-width:1280px) {
    .piscine .container-2 .col,
    .pose .content-page .col{ width: 33.33% }
    .local .content-page .col{ width: 25% }
    .local .content-local{ margin: 15px 0 20px }
    .piscine.margelle .content-page .col{ width: 50%; }
    .piscine.margelle #slideSkimmer .left{ width: 40%; }
    .piscine.margelle #slideSkimmer .num-modele{ font: normal 40px/48px d-din-r }


}
@media (min-width:1024px) {
 body a,.btn:after,.boutton:after,.logo,.tooltip-text,.boutton2.boutton .btn-submit,button, .page .col,.btn3,.color,.blcCouleur,.boutton2 .btn-submit:after,.btn-submit:after,.icon-selected{ -webkit-transition:all 400ms ease-in-out; -moz-transition:all 400ms ease-in-out; -ms-transition:all 400ms ease-in-out; transition:all 400ms ease-in-out;}
 a:hover{ color: #e77d15 }
 .logo:hover{ opacity: 0.5; }
 .btn:hover{ background: #36a2ab;color: #ffffff }
 .btn2:hover{ background: #41c2cd;color: #ffffff }
 .btn:hover:after{ right: 25px }
 .btn-submit:hover:after{ background-position-x:10px; }
 .page label.col:hover{ border-color: #42c2cd;background-color: #212121; }
 .page label.col:hover .icon-selected{ opacity: 1;}
.page .col:hover .btn3{ background: #000 }
.couleur.pose .col:hover .color{ left: 100% }
.page .col:hover .blcCouleur{ opacity: 1; }

 .confirmation .btn-submit:hover{ color: #ffffff }
 .confirmation .blcDown button:hover{ color: #e77d15 }
 .boutton2.boutton .btn-submit:hover{ background-color: #b45900 }
}
@media (max-width:1080px) {
    .col.blcBtn,.col.pagination{ float: none;width: 100%;text-align: center; }
   .blcFooter .col.blcBtn{ padding: 15px 0 50px!important }
    .confirmation .content-confirmation .recap .blcLeft{ padding:30px 20px 20px;width: 45% }
    .confirmation .content-confirmation .recap .recap-step{ width: 55% }
}

@media (max-width:1024px) {
 .container{ padding: 0 40px }
 .blcText{ padding: 0 }
 .blcLogo{ padding: 50px 0 }
 h1{ margin-bottom: 45px }
 .content .row{ margin-top: 0 }
 .blcFooter{ margin-top: 30px }
 .blcChp{ padding-right: 0 }
 .pose .content-page .col{ height: auto }

 aside.blcRight,.contentAside,.blcFooter{ position: static; }
 .blcLeft .content,.pose .blcLeft .content{ padding: 0 }
.piscine .container-2 .col{ width: 33.33% }
.blcLeft .container, .blcLeft .container-2{ padding: 0 40px;float: none }
.contentAside{ margin-bottom: 50px }
.boutton2{ float: none }
.content-modele{ margin-top: 45px }
.contentAside{ padding: 20px 40px;margin-bottom: 30px }

#slideMargelle .slick-prev,
#slideSkimmer .slick-prev{ left: -30px; }
#slideMargelle .slick-next,
#slideSkimmer .slick-next{ right: -30px; }

.local .content-local{ margin-bottom: 0 }
.page .blcFooter{ padding: 0 }

h1{ max-width: 100% }
.piscine.margelle .content-page .col{ width: 33.33%; }
.boutton2{ display: block; }
.content{ padding-bottom: 0;min-height: inherit; }


}

@media (max-width:980px) {
.piscine .container-2 .col{ width: 50%}
.pose .col .blcImg{ padding: 25px 20px 25px; }
.pose .col .texte{ padding: 0 0 0 20px; }
.couleur.pose .content-page .col{ float: left;width: 33.33% }
.content-margelle{ margin: 50px 0 }
.confirmation .col.col-left{ width: 100%;float: none }
.confirmation .col.col-right{ max-width: 100%;width: 100%;float: none }
.confirmation .boutton{ display: inline-block; }
.confirmation .btn-submit{ padding: 23px 80px 22px 31px }
.content-confirmation{ margin: 50px 0 0}
.blcConf-mail{ margin: 40px 0 0 }
.piscine.margelle .content-page .col{ width: 50%; }

}

@media (max-width:768px) {
.col{ float: none;width: 100% }
.blcText{ float: none;max-width: 100%; }
.blcChp{ max-width: 100%;padding: 0 }
.pagination li{ margin-bottom: 35px }
.col.pagination{ text-align: left; }
.col.blcBtn{ padding: 15px 0 50px }
.boutton{ float: none;margin:auto; }
.formulaire{ text-align: center; }
.boutton1.boutton .btn-submit{ padding-left: 40px }
.pose .content-page .col{ width: 50% }
.content-couleur{ margin: 20px 0 0 }
.local .content-page .col{ float: left;width: 33.33% }

.local.local-2 .content-page .col{ width: 50% }
.confirmation .recap .recap-step{ padding: 25px 20px }
.blcFooter .col.blcBtn{ padding: 0 0 40px!important }
.confirmation .content-confirmation .recap .recap-step,
.confirmation .content-confirmation .recap .blcLeft,
.piscine.margelle #slideSkimmer .left{ width: 100% }

.piscine.margelle #slideSkimmer .num-modele,
.num-modele,.margelle.piscine .num-modele { font: normal 30px/32px d-din-r}
.piscine .num-modele{ font:normal 48px/48px d-din-r;display: block;margin-bottom: 5px}
.piscine.margelle .content-page .col{ width: 50%; }
.piscine.margelle .content-col > div,
 .skimmer.piscine.margelle .content-col .left,
.skimmer.piscine.margelle .content-col .right,
.piscine.margelle .content-col{ width: 100%;text-align: center; }
.piscine.margelle .content-col .modele{ margin: 20px auto 15px }

.piscine.margelle .content-col .right{ padding-left: 0 }



}

@media (max-width:600px) {
    .container{ padding: 0 20px }
   h1 { font: normal 30px/35px circ-bl;margin-bottom: 25px;text-align: center;}
   h1 span {font: normal 22px/28px circ-bk;}
   .blcLogo{ padding: 30px 0 20px }
   .pagination li{ float: left; }
   .blcFooter{ margin-top: 15px }
   .col.blcBtn{ padding: 0 0 40px }

   .piscine.margelle .container-2 .col{ width: 100%; }
   .blcLeft .container, .blcLeft .container-2{ padding: 0 20px }
   .contentAside{ padding: 20px 20px 5px;width: 100% }
   aside.blcRight{ width: 100% }
    .boutton2{ width: 100%; }
    .boutton2 .btn-submit::after{ right: 40px }
    .btn-submit{ padding: 23px 120px 22px 60px; }
    aside .recap{ padding: 0 }
    .piscine .container-2 .col{ margin-bottom: 0 }
    .content-modele{ margin-top: 0 }
    .pose h1{ margin-bottom: 0 }
    .couleur.pose .content-page .col{ padding: 20px 5px }
    #slideMargelle .slick-prev{ left: 0 }
    #slideMargelle .slick-next{ right:0; }

    .piscine.margelle .content-col{width: 280px;margin: auto;}
    .content-margelle{ margin:25px 0 0; }
    .margelle .col .num-modele{ font: normal 25px/28px d-din-r; }
    .local .content-page .col{ float: left;width: 50% }

    .local.local-2 .content-page .col{ width: 100% }
    .confirmation .content-confirmation .recap .recap-step,.confirmation .content-confirmation .recap .blcLeft{ width: 100% }
    .confirmation .content-confirmation .recap .blcLeft{ padding: 0 0 20px }
    .confirmation .col.col-left{ box-shadow: inherit; }
    .content-confirmation{ margin: 40px 0 0 }
    .blcConf-mail{ margin: 20px 0 10px}
    .confirmation .btn-submit{ padding: 23px 40px 22px 20px }
    .confirmation .boutton::after{ right: 20px }
    .confirmation .blcDown a{ padding-left: 41px }
    .piscine.margelle .content-page .col{ padding: 25px 0 }
    .piscine.margelle .content-page .col,
    .piscine.margelle #slideSkimmer .col{ width: 100% }
    .piscine.margelle .content-page .col{ padding: 25px 0 25px }    
    .piscine.margelle .content-col .right{ padding-left: 0 }
    .local .titre{ text-align: center; }
    .local.local-2 .content-page .col{ min-height: auto }
    .numbers-row{ width: 150px;padding: 0;margin: 0 auto 10px;display: block; }
    .inc.button, .dec.button, .numbers-row input{ padding: 12px;font: normal 18px/18px circ-b; }
    .textDistance{ width: 100%;padding: 0;text-align: center; }
    .contentAside{ margin-bottom: 0 }
    .content .row.content-couleur{margin-top: 25px}
    .shadow{ box-shadow:none  }
    .pose .content .row{ margin-top: 15px }


}

@media (max-width:520px) {
    .pose .content-page .col{ width: 100% }
    .pose .col .blcImg img{ margin: auto; }
    .couleur.pose .content-page .col{ width: 100% }
    .local .content-page .col{ float: left;width: 100% }
    .local .content-page .col{ height: auto; }
    .piscine .container-2 .col{ width: 100% }
    .piscine .content-col > div{ width: 50% }
    .piscine .content-col{ max-width: 260px }
    .piscine .container-2 .col{ text-align: center; }
    .piscine .content-col .modele{ text-align: left; }
    .piscine.margelle .content-col .modele{ text-align: center; }
    .confirmation .col.col-left{ padding: 20px 0 }
    .confirmation .blcDown button{ padding-left: 41px;padding-right: 0 }



}
@media (max-height:700px) {
    aside.blcRight{ top: -130px }

}
@media print {
.blcDown,.confirmation .boutton,.blcFooter{ display: none }
body{ background: #ffffff;color: #151515 }
.recap .recap-step li span,.confirmation .content-confirmation .blcModele span,.total{ color: #151515 }
.recap .recap-step li{ background: url(../images/icon-selected.png)left 3px no-repeat #ffffff; }
.logo-print{ display: block;position: absolute;top: 0;left: 0; }
.confirmation .content-confirmation .blcModele{ border-bottom: 2px solid #151515; }
.confirmation .recap .recap-step li{ list-style: disc; }
.confirmation .recap .recap-step{ padding-bottom: 0 }
.contact a,.recap .recap-step li span{ color: #41c2cd }
h1{ text-align: center; }
.confirmation .col.col-left{ box-shadow: none;border:1px dashed #aaaaaa }
}





